.corpo-pagina {
    padding: 20px;
}


ul.time-pokemons,
ul.time-pokemons ul{
    padding: 0;
}


ul.time-pokemons .titulo {
    font-weight: bold;
}

ul.time-pokemons a.excluir {
    color: #bc0000;
}

.time-pokemons li {
    list-style: none;
}

.time-pokemons li.pokemon-item {
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

.time-pokemons li.pokemon-item a {
    width: 120px;
    height: 96px;
    padding: 0;
}

.verde {
    color: #409440;
}

/* Conteúdo modal */
.pokemons-disponiveis {
    margin: 0;
    padding: 0;
}

.pokemons-disponiveis li {
    list-style: none;
    width: 150px;
    box-sizing: border-box;
    /*height: 96px;*/
    /*padding: 5px;*/
    border: solid 1px #3f5a54;
    margin-bottom: -1px;
    margin-right: -1px;
    text-align: center;
    float: left;
}

.pokemons-disponiveis li a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}

.pokemons-disponiveis li img {
    padding: 0;
}

.pokemons-disponiveis li span {
    display: block;
}