<!DOCTYPE html>
<html lang="pt-br" ng-app="App">
<head>
    <meta charset="UTF-8">
    <title>Montar time pokémons</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/app.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/app.controller.js"></script>



</head>

<body ng-controller="AppController">

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{ tituloModal }}</h4>
                </div>
                <div class="modal-body">

                    <form class="form-pesquisa form-inline clearfix">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="campo_pesquia">Pesquisar:</label>
                                <input ng-change="pesquisarItem()" id="campo_pesquisa" type="text" ng-model="pesquisa" class="form-control" style="width: 85%">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="">Quantidade por página:</label>
                                <select class="form-control" ng-init="quantidadeRegistros='20'" ng-model="quantidadeRegistros" ng-change="quantidadePorPagina()">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>

                            </div>

                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-4"><strong>Resultados:</strong> {{ itensModal.length }}</div>
                        </div>
                    </form>


                    <ul class="registros-disponiveis clearfix">
                        <li ng-repeat="item in itensPagina">
                            <img title="{{ item.name }}" src="{{ item.img }}">
                            <span>{{ item.name }}</span>
                            <span>
                                <a href="#{{ item.id }}" id="{{ item.id }}" ng-click="adicionarPokemon($event)">
                                    <span class="verde glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                </a>
                            </span>
                        </li>
                    </ul>

                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="controle-pagina pagina-anterior disabled" ng-click="carregarPagina($event)">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            <li ng-repeat="p in listaPaginas" id="pg{{ p.num }}" ng-click="carregarPagina($event)"
                                ng-class="{ 'num-pagina': true, active: p.num == paginaAtual }">
                                <a href="{{ p.num }}">{{ p.num }}</a>
                            </li>

                            <li class="controle-pagina proxima-pagina" ng-click="carregarPagina($event)">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>



                    <ul>
                        <li ng-repeat="item in itens_modal">{{ item.name }}</li>
                    </ul>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal moves -->
    <div class="modal fade" id="modalMove" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Adicionar Moves</h4>
                </div>
                <div class="modal-body">

                    <input type="hidden" value="{{ modalMove.idPokemon }}">


                    <form class="form-pesquisa form-inline clearfix">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="campo_pesquia">Pesquisar:</label>
                                <input ng-change="pesquisarItem()" id="campo_pesquisa" type="text" ng-model="pesquisa" class="form-control" style="width: 85%">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="">Quantidade por página:</label>
                                <select class="form-control" ng-model="quantidadeRegistros" ng-change="quantidadePorPagina()">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>

                            </div>

                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-4"><strong>Resultados:</strong> {{ itensModal.length }}</div>
                        </div>
                    </form>



                    <ul class="registros-disponiveis clearfix">
                        <li ng-repeat="item in itensPagina">
                            <span>{{ item.name }}</span>
                            <span>
                                <a href="#{{ item.id }}" id="{{ item.id }}" ng-click="adicionarMove($event)">
                                    <span class="verde glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                </a>
                            </span>
                        </li>
                    </ul>

                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="controle-pagina pagina-anterior disabled" ng-click="carregarPagina($event)">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            <li ng-repeat="p in listaPaginas" id="pg{{ p.num }}" ng-click="carregarPagina($event)"
                                ng-class="{ 'num-pagina': true, active: p.num == paginaAtual }">
                                <a href="{{ p.num }}">{{ p.num }}</a>
                            </li>

                            <li class="controle-pagina proxima-pagina" ng-click="carregarPagina($event)">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>



                    <ul>
                        <li ng-repeat="item in itens_modal">{{ item.name }}</li>
                    </ul>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de de confirmação de exclusão -->
    <div class="modal fade" id="modalConfirmacao" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Confirmação de exclusão</h4>
                </div>
                <div class="modal-body">

                    <p>Tem certeza que deseja remover <strong>{{ modalExcluir.nome }}</strong>?</p>


                </div>
                <div class="modal-footer">
                    <input type="hidden" value="{{ modalExcluir.id }}">

                    <button ng-if="modalExcluir.tipo == 'pokemon'" type="button" class="btn btn-default" data-dismiss="modal" ng-click="removerPokemon($event)">Sim</button>
                    <button ng-if="modalExcluir.tipo == 'move'" type="button" class="btn btn-default" data-dismiss="modal" ng-click="removerMove($event)">Sim</button>

                    <button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <nav class="navbar navbar-default">
            <div class="container">


                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#" data-toggle="modal" data-target="#modal" ng-click="carregarPokemons($event)" >Novo</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>


    <div class="corpo-pagina">
        <h3>Monte seu time de Pokémons</h3>


        <ul class="time-pokemons clearfix">

            <li class="pokemon-item" ng-repeat="poke in timePokemons | orderBy : 'nome'">
                <a data-toggle="modal" data-target="#modalMove"
                   ng-click="carregarMoves($event)" class="btn btn-default" href="#{{ poke.id }}">
                    <img src="{{ poke.foto }}">
                </a>
                <ul>
                    <li class="titulo">{{ poke.nome }}
                        <a class="excluir" href="#{{ poke.id }}" id="{{ poke.id }}" ng-click="confirmarExclusao($event)" data-toggle="modal"
                           data-target="#modalConfirmacao">
                            <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                        </a>
                    </li>

                    <li ng-if="poke.moves.length > 0">Moves:</li>
                    <li ng-repeat="m in poke.moves">
                        {{ m.name }}
                        <a class="excluir" href="#{{ m.id }}" ng-click="confirmarExclusaoMove($event, poke.id, m.id)" data-toggle="modal"
                           data-target="#modalConfirmacao">
                            <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                        </a>
                    </li>


                </ul>
            </li>

        </ul>

        <p ng-if="timePokemons.length == 0">Você ainda não montou seu time!</p>

    </div>

</body>
</html>